<!-- FIX PICTURE SIZES! -->

<h1> Contact Us </h1>
	<div class="contact_profile">
		<div class = "row">
			<div class="span1"><br></br></div>
			<div class="span4">
				<h2> Chris Fahmy </h2>
				<%= image_tag("chris.jpg") %>
				<br></br>
				<p> Chris Fahmy is a recent grad from McMaster and I need to write more to take up more space</p>
			</div>
<div class="span1"><br></br></div>
			<div class="span4">
				<h2> Richard Aranha </h2>
				<%= image_tag("richard.png") %>
				<br></br>
				<p> Richard Aranha is a recent grad from McMaster</p>
			</div>
<div class="span1"><br></br></div>
			<div class="span4">
				<h2> Seif Tadros </h2>
				<p> Chris Fahmy is a recent grad from McMaster</p>
			</div>
		</div>
	</div>
