<!-- FIX PICTURE SIZES! -->
<h1> Contact Us </h1>
	<div class="contact_profile">
		<div class = "row_contact-us">
			<div class="span1"><br></br></div>
			<div class="span4">
				<h2><center>Chris Fahmy</center></h2>
				<%= image_tag("chris 4.png") %>
				<br></br>
				<p> Chris Fahmy is a recent grad from McMaster and I need to write more to take up more space</p>
			</div>
<div class="span1"><br></br></div>
			<div class="span4">
				<h2><center>Richard Aranha</center></h2>
				<%= image_tag("richard 2.png") %>
				<br></br>
				<p> Richard Aranha is a recent grad from McMaster</p>
			</div>
<div class="span1"><br></br></div>
			<div class="span4">
				<h2><center>Seif Tadros</center></h2>
				<%= image_tag("Seif AP.png") %>
				<br></br>
				<p> Seif Tadros is a Commerce student at McMaster</p>
			</div>
		</div>
	</div>
