<h1>Frequently Asked Questions </h1>

<div class = "accordion_menu">
	<div class = "ui-accordion-header">
		<h3>How does this work?</h3>
	</div>
		<p>no clue</p>
	<h3>Question 2</h3>
		<p> the answer</p>

</div>
