<div class="home">
<div class="container">

	<div class="hero-unit">  
		<h1>Welcome to Answer Possum!</h1>
	</div>

	<div class = "row">
		<div class="span6">
			<h2>Student Login</h2>
			<p>The student login form will go here.</p>
			<p>New student? LOGIN HERE!</p>
		</div>
		<div class="span 6">
			<h2>Tutor Login</h2>
			<p>The tutor login form will go here.</p>
			<p>New tutor? LOGIN HERE!</p>
		</div>
	</div>
</div>
</div>