@import "bootstrap";

html {
    overflow: scroll;
    position: variable;
}

body {  
padding-top: 47px;  
padding-bottom: 40px; 
 
}

div{
  
}

#unrated{
  height:10px;
  width:10px;
    -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px; 
  background-color:#FF0000;
  display: inline-block;

}

#unread_comments{
  height:10px;
  width:10px;
      -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px; 
  background-color:#E2BE22;
  display: inline-block; 
}

.btn btn-warning{
  color: black;
}

.unrated_answers{
  color: red;
}

.signed_in_home{
  height: 350px;
  color: white;
}

.close_question_button{
  color: white;
}

.tutor_home{
  padding-top: 10px;
}

.footer{
	background:white;
	width: 100%;
}

.row1{
padding-top: 10px;
  padding-bottom: 40px; 
}

.home {
	 padding-top: -60px;  
padding-bottom: -40px; 

	 margin: 0;
     background: url('main possum.jpg');
     background-size: 100% 100%;
     background-repeat:no-repeat;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;

}  

ul{
  list-style-type: none;
}

.nav li {  
padding-top: 5px;  
}

.row{
	padding-top: 60px;  
padding-bottom: 40px; 
}


.row1{
    padding-top: 10px;  
  padding-bottom: 121px;
}

.row2{
      padding-top: 10px;  
      padding-bottom: 450px;
}

.row3{
      padding-top: 0px;  
      padding-bottom: 1px; 
}

.box1{
  margin-left:auto;
  margin-right:auto;
  border:2px solid black;   
  position:relative;
}

.box1{
  margin-left:auto;
  margin-right:auto;
  border:2px solid black;   
  position:relative;
}

.row_contact-us{
  padding-top:0px;
}

.row_question{
  padding-top:0px;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

input[type=text_area]
{
height: 25px;
}

.contact_profile{
  font-size:1.1em;
}

.ui-accordion-header{
  background:none;
   background-color:blue;

}